@use '../../utilities' as *;

.artifact-pg .project-overview {
    flex-direction: column;
    padding: $sm*3 $sm*1.8;
    height: 80vh;

    .project-details {
        .project-skills {
            @include fontstyles ($color-primary, $sm*0.9, $normal, $base, $none);
        }

        .project-title {
            @include fontstyles ($color-primary, $sm*2.5, $medium, $base, $none);
            margin: $sm*0.25 0 $sm*0.15;
            line-height: 1.25;
        }

        .project-type {
            @include fontstyles ($color-primary, $sm*0.9, $normal, $italic, $none);
        }

        .project-description {
            @include fontstyles ($color-primary, $sm*0.9, $normal, $base, $none);
            margin: $sm*1.1 0 $sm*2;
        }

        .links-btn-container {
            justify-content: space-between;
            margin: $sm*0.5 0 $sm*2;

            .live-link, .code-link {
                width: 48%;
                height: auto;
                padding: $sm*0.65 $sm*1;
                border-radius: $sm*1.5;
                text-align: center;
            }
    
            .live-link {
                background-color: $color-primary;
                border: $sm*0.15 solid $color-primary;
                @include fontstyles($color-secondary, $sm*0.9, $normal, $base, $none);
            }

            .code-link {
                background-color: transparent;
                border: $sm*0.15 solid $color-primary;
                @include fontstyles($color-primary, $sm*0.9, $normal, $base, $none);
            }
        }
    }

    .proj-img-container {
        width: 100%;
        max-height: $sm*25;
        overflow: hidden;

        .project-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}