@use '../utilities' as *;

@media (min-width:1024px) {

    header .header-bar {
        .logo:hover {
            padding: $sm*0.3;
            border: $sm*0.2 solid $color-secondary;
            transition: 0.3s ease-in-out;
        }

        .gn ul li a:hover {
            border-bottom: $sm*0.2 solid $color-secondary;
            transition: 0.3s ease-in-out;
        }
    }

    .projects .more-projects p:hover {
        border-bottom: $sm*0.2 solid $color-primary;
        transition: 0.3s ease-in-out;
    }

    .projects .projects-collection .project-thumb .links-container .btn-container, .dev-projects .project-card, .ux-projects .project-card {
        
        .live-link:hover, .prototype-link:hover {
            color: $color-primary;
            background-color: $color-secondary;
            border: $sm*0.15 solid $color-secondary;
            transition: 0.5s ease-in-out;
        }
            
        .code-link:hover, .case-study-link:hover {
            color: $color-secondary;
            background-color: $color-primary;
            border: $sm*0.15 solid $color-secondary;
            transition: 0.5s ease-in-out;
        }
    }

    .work .work-collection li .links-container .link-btn:hover {
        color: $color-primary;
        background-color: $color-secondary;
        border: $sm*0.15 solid $color-secondary;
        transition: 0.5s ease-in-out;
    }

    .collection-container {
        margin: $sm*1.25 0 $sm*2.5;
    }

    .storytelling a {
        font-size: $sm*1.125;
    }

    .contact svg:hover {
        fill: $color-secondary;
        transition: 0.5s ease-in-out;
    }

    .cs-section {
        // max-width: 80vw;
        max-width: 1000px;
    }
}