@use '../utilities' as *;

@media (min-width:1024px) {

    header .header-bar {
        .logo:hover {
            padding: $sm*0.3;
            border: $sm*0.3 dotted $dark-tertiary;
            transition: 0.25s ease-in-out;
        }

        .gn ul li a:hover {
            border-bottom: $sm*0.3 dotted $dark-tertiary;
            transition: 0.15s ease-in-out;
        }
    }

    .intro h1 {
        font-size: $sm*5.5;
    }

    .collection-container {
        gap: $sm*3.5 $sm*3;
    }

    .dev-projects, .ux-projects, .cs-summary {
        
        .btn-primary:hover {
            color: $dark-primary;
            background-color: $dark-secondary;
            border: $sm*0.15 solid $dark-secondary;
            transition: 0.4s ease-in-out;
        }
            
        .btn-secondary:hover {
            color: $dark-secondary;
            background-color: $dark-primary;
            border: $sm*0.15 solid $dark-secondary;
            transition: 0.4s ease-in-out;
        }
    }

    .cs-summary .btn-container {
        flex-direction: row;
    }

    .storytelling a {
        font-size: $sm*1.125;

        &:hover {
            border-bottom: $sm*0.3 dotted $dark-tertiary;
            transition: 0.25s ease-in-out;
        }
    }

    .contact svg:hover {
        fill: $dark-secondary;
        transition: 0.3s ease-in-out;
        border: $sm*0.3 dotted $dark-tertiary;
        border-radius: $b-rounded-3xl;
        padding: $sm*0.25;
        transform: scale(1.5);
    }

    .cs-section {
        max-width: $sm*62.5;
    }

    .backtotop:hover, .cs-body a:hover {
        border-bottom: $dark-primary $sm*0.3 dotted;
        transition: 0.25s ease-in-out;
    }

    .work-collection .feat-work-card:hover {
        border: $dark-tertiary $sm*0.3 dotted;
        border-radius: $b-rounded-md;
        padding: $sm*0.25;
        transition: 0.25s ease-in-out;
    }
}