@use '../utilities' as *;

@media (min-width: 1440px) {

    .intro h1 {
        font-size: $sm*6.5;
        margin-top: $xs;
    }

    .work-collection .feat-work-card {
        gap: $sm*4;
    }
    
    .dev-projects .project-card, .ux-projects .project-card {
        flex-basis: 31%;
        max-width: 31%;
    }

    .dev-projects .dev-collection, .ux-projects .ux-collection {
        justify-content: flex-start;
    }
}