@use '../utilities' as *;

@media (min-width: 1440px) {

    .dev-projects .project-card, .ux-projects .project-card {
        flex-basis: 31%;
        max-width: 31%;
    }

    .dev-projects .dev-collection, .ux-projects .ux-collection {
        justify-content: flex-start;
    }
}