@use '../utilities' as *;

@media (min-width:480px) {

    .intro h1 {
        font-size: $sm*4;
        margin-top: $sm 0;
    }

    .btn-container {
        justify-content: space-evenly;
        flex-direction: row;
    }

    .about .bio img {
        height: 50vw;
    }

    .pg-preface {
        max-width: 90vw;
    }

    .footer p {
        @include fontstyles ($dark-secondary, $sm, $normal, $base, $none);
    }

    header .header-bar a {
        &:focus, &:active {
            padding: $sm*0.2;
            border: $sm*0.1 solid $dark-secondary;
            transition: 0.2s ease-in-out;
        }
    }
    
    .work, .dev-projects, .ux-projects {

        .btn-primary {
            &:focus, &:active {
                color: $dark-primary;
                background-color: $dark-secondary;
                border: $sm*0.15 solid $dark-secondary;
                transition: 0.5s ease-in-out;
            }
        }

        .btn-secondary {
            &:focus, &:active {
                color: $dark-secondary;
                background-color: $dark-primary;
                border: $sm*0.15 solid $dark-secondary;
                transition: 0.5s ease-in-out;
            }
        }
    }

    .contact svg {
        &:focus, &:active {
            fill: $dark-secondary;
            transition: 0.5s ease-in-out;
        }
    }

    .cs-section {
        margin: 0 auto;
    }
}