@use '../utilities' as *;

@media (min-width:480px) {

    .intro {

        h1 {
            font-size: $sm*3.25;
            margin-top: $xs;
        }

        .career-role {
            @include fontstyles ($color-primary, $sm*1.25, $normal, $italic, $none); 
        }

        .career-goal {
            margin: $sm*1.25 0;
            font-size: $sm*1.5;
        }

        .blobwindow {
            width: $sm*18.125;
            height: $sm*18.125;
        }
    }

    .about .bio img {
        height: 50vw;
    }

    .projects {
        
        .btn-container {
            justify-content: space-evenly;
            flex-direction: row;
        }

        .more-projects {
            @include fontstyles ($color-primary, $sm*1.1, $normal, $base, $none);
        }
    }

    .footer p {
        @include fontstyles ($color-secondary, $sm, $normal, $base, $none);
    }
}