@use '../utilities' as *;

@media (min-width:640px) {

    .hide-tablet {
        display: none;
    }

    .intro .intro-box .career-role {
        font-size: $sm*1.125;
        line-height: $sm*1.5;
    }

    .intro .blobwindow {
        width: $sm*19.125;
        height: $sm*19.125;
    }

    .projects, .about, .contact p {
        @include fontstyles ($color-primary, $sm, $normal, $base, $none);
    }

    .projects .more-projects {
        @include fontstyles ($color-primary, $sm*1.15, $normal, $base, $none);
    }

    .pg-preface {
        max-width: 75vw;
    }

    .storytelling-col {
        padding-left: $sm*3;
    }

    .cs-intro {
        margin-top: $sm*6;
        gap: $sm*2;
    }
}