@use '../utilities' as *;

@media (min-width:768px) {

    h2 {
        @include fontstyles ($color-primary, $sm*2, $normal, $base, $uppercase);
    }

    h3 {
        @include fontstyles ($color-primary, $sm*1.85, $normal, $base, $none);
    }

    .section {
        padding: $sm*7 $sm*2.25 $sm*3;
    }

    .subpg-section {
        padding: $sm*2 $sm*3 $sm;
    }

    header .gn {
        display: block!important;
        position: static;
        top: 0px;
        height: auto;
        box-shadow: 0;
    
        ul {
            flex-direction: row;
            justify-content: flex-end;
            gap: $sm;
        }

        li {
            padding: $sm;
        }

        a {
            @include fontstyles($color-primary, $sm, $normal, $base, $uppercase);

            &:focus, &:active {
                border-bottom: $sm*0.2 solid $color-secondary;
                transition: 0.5s ease-in-out;
            }
        }

        .header-icons {
            display: none;
        }
    }

    .gn-trigger {
        display: none;
    }

    .intro {
        padding: $sm*4;

        h1 {
            font-size: $sm*3.5;
            margin-top: $xs;
        }

        .career-role {
            @include fontstyles ($color-primary, $sm*1.35, $normal, $italic, $none); 
        }

        .career-goal {
            margin: $sm*3 0;
            font-size: $sm*1.75;
        }
    }
    
    .work .work-collection {
        gap: $sm*6;

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;

            &:nth-child(2n+1){
                flex-direction: row-reverse;
            }
        }

        .img-container, .links-container {
            width: 47%;
        }

        .work-details {
            text-align: left;
            padding: 0 0 $sm;
        }
    }

    .work, .projects {

        h3 {
            @include fontstyles ($color-primary, $sm*1.75, $medium, $base, $none);
        }

        p {
            @include fontstyles ($color-primary, $sm*1.05, $light, $base, $none);
        }
    }

    .projects {

        .project-card {
            flex-basis: 48%;
            max-width: 48%;
        }

        .projects-collection {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            column-gap: 0;
            row-gap: $sm*1.5;
        }
    }

    .dev-projects .project-card, .ux-projects .project-card {
        flex-basis: 45%;
        max-width: 45%;
    }

    .projects .btn-container, .dev-projects .project-card .btn-container, .ux-projects .project-card .btn-container {
        gap: $sm;
    }

    .dev-projects .dev-collection, .ux-projects .ux-collection {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about {
        .bio {
            flex-direction: row;
            column-gap: $sm*3.5;
            margin-top: $sm*3;

            img {
                height: $sm*17;
                margin: 0 0 0 auto;
            }
        }

        .bio-desc {
            width: 50%;
            margin-right: auto;
        }
    }

    .pg-preface, .storytelling .pg-preface {
        max-width: 30rem;
    }

    .storytelling-col {
        padding-left: $sm*4;
    }

    .cs-flex-tablet {
        flex-direction: row;
        gap: $sm*2;
    }

    .cs-half-width {
        width: 50vw;
    }

    .cs-tablet-rr {
        flex-direction: row-reverse
    }

    .cs-img-container {
        max-width: $sm*45.3125;
    }
    
    .footer p {
        @include fontstyles ($color-secondary, $sm, $normal, $base, $none);
    }
}