@use '../utilities' as *;

@media (min-width:768px) {

    .section {
        padding: $sm*7 $sm*2 $sm*3;
    }

    header .gn {
        display: block!important;
        position: static;
        top: 0px;
        height: auto;
        box-shadow: 0;
    
        ul {
            flex-direction: row;
            justify-content: flex-end;
            gap: $sm*1.5;
        }

        li {
            padding: $sm;

            &:nth-child(3) {
                padding: $sm $sm*0.5 $sm $sm;
            }
        }

        a {
            @include fontstyles($color-primary, $sm, $normal, $base, $uppercase);
        }

        .header-icons {
            display: none;
        }
    }

    .gn-trigger {
        display: none;
    }

    .intro {
        padding: $sm*2 $sm*4 $sm*4;

        h1 {
            font-size: $sm*3.5;
            margin-top: $xs;
        }

        .career-role {
            @include fontstyles ($color-primary, $sm*1.35, $normal, $italic, $none); 
        }

        .career-goal {
            margin: $sm*1.75 0;
            font-size: $sm*1.75;
        }
    }

    .projects .projects-collection {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .project-card {
            flex-basis: 47%;
            max-width: 47%;
            flex-direction: column;

            &:nth-child(3n+1){
                flex-basis: 100%;
                max-width: 100%;
            }
    
            &:nth-child(3n+2){
                margin-top: $sm*8;
            }
        }

        .project-details h3 {
            @include fontstyles ($color-primary, $sm*2, $medium, $base, $none);
        }

        p {
            @include fontstyles ($color-primary, $sm*1.2, $light, $base, $none);
        }
    }

    .about {
        .bio {
            flex-direction: row;
            column-gap: $sm*3.5;
            margin-top: $sm*3;

            img {
                height: $sm*17;
                margin: 0 0 0 auto;
            }
        }

        .bio-desc {
            width: 50%;
            margin-right: auto;
        }
    }
    
    .footer p {
        @include fontstyles ($color-secondary, $sm, $normal, $base, $none);
    }
}