@use '../utilities' as *;

@media (min-width:768px) {

    .intro h1 {
        font-size: $sm*4;
        margin-top: $xs;
    }

    .section {
        padding: $sm*3 $sm*2.25;
    }

    .subpg-section {
        padding: $sm*3;
    }

    header .gn {
        display: block!important;
        position: static;
        top: 0;
        height: auto;
        box-shadow: 0;
    
        ul {
            flex-direction: row;
            justify-content: flex-end;
            gap: $sm;
        }

        li {
            padding: $sm;
        }

        a {
            @include fontstyles($dark-primary, $sm*1.15, $normal, $base, $none);
        }

        .resume {
            padding: $sm*0.75 $sm; 
            margin: 0;
        }

        .header-icons {
            display: none;
        }

        .toggle {
            margin-left: $sm*0.5;
        }
    }

    .gn-trigger {
        display: none;
    }

    .work {
        .links-container {
            padding: 0;
        }

        .feat-work-card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            gap: $sm*2;
            align-items: center;
        }

        .img-container, .links-container {
            width: 50vw;
        }

        .work-details {
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: $sm*0.25;
        }

        .work-desc {
            font-size: $sm*1.25;
        }
    }

    .dev-projects .project-card, .ux-projects .project-card {
        flex-basis: 45%;
        max-width: 45%;
    }

    .btn-container {
        gap: $sm;
    }

    .dev-projects .dev-collection, .ux-projects .ux-collection {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pg-preface {
        max-width: 30rem;
    }

    .storytelling-col {
        padding-left: $sm*4;
    }

    .cs-body {

        h2 {
            text-align: left;
            font-size: $sm*2.5;
        }
    
        h3 {
            @include fontstyles ($dark-tertiary, $sm*2.125, $medium, $base, $none);
            margin: $sm*1.75 0 $sm*0.5;
        }
    }
    
    .footer p {
        @include fontstyles ($dark-secondary, $sm, $normal, $base, $none);
    }
}