@use '../utilities' as *;

@media (min-width:900px) {

    h1 {
        @include fontstyles ($dark-primary, $sm*3.5, $medium, $base, $none);
    }
    
    h2 {
        @include fontstyles ($dark-primary, $sm*2.85, $normal, $base, $none);
    }

    h3 {
        @include fontstyles ($dark-primary, $sm*2.75, $normal, $base, $none);
        margin: $sm*0.75 0;
        line-height: $sm*3;
    }

    p {
        @include fontstyles ($color-white, $sm*1.125, $normal, $base, $none);
        line-height: $sm*1.85;
    }

    .work .work-collection {

        li {
            align-items: center;
            gap: $sm*3;
        }

        .links-container {
            padding: 0;
        }
    }

    .work h2 {
        margin-bottom: $sm;
    }

    .intro h1 {
        font-size: $sm*4.5;
        margin-top: $xs;
    }

    .about .bio {
        flex-direction: row;
        column-gap: $sm*3.5;
        margin-top: $sm;

        img {
            height: $sm*25;
            width: auto;
        }
    }

    .proud-moments {
        h2 {
            line-height: $sm*1.6;
        }

        .about-highlight {
            font-size: $sm*1.25;
            line-height: $sm*1.7;
        }

        .highlight-date {
            margin-bottom: $sm*0.4;
        }
    }

    .storytelling-col {
        padding-left: $sm*5;
    }

    .cs-body {
        p {
            margin-bottom: $sm;
        }

        .cs-summary p, .tldr-details p {
            margin-bottom: $sm*0.15;
        }

        .notable-designs {
            display: flex;
            gap: $sm*2;
            margin-bottom: $sm;
            align-items: center;
        }

        .notable-desc {
            max-width: 37vw;
            margin-bottom: $sm*8;
        }

        .even-designs {
            flex-direction: row-reverse;
        }
    }

    .cs-flex-img-box {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .cs-portrait-width {
        width: 35vw;
    }

    .carousel-box {
        min-width: $sm*42;
        max-width: $sm*54;
    }

    .design-highlight {
        font-size: $sm*1.35;
    }
}