@use '../utilities' as *;

@media (min-width:900px) {

    h1 {
        @include fontstyles ($color-primary, $sm*3.3, $medium, $base, $none);
    }
    
    h2 {
        @include fontstyles ($color-primary, $sm*2.5, $light, $base, $uppercase);
    }

    p {
        @include fontstyles ($color-primary, $sm*1.125, $normal, $base, $none);
    }

    header .gn a {
        @include fontstyles($color-primary, $sm*1.125, $normal, $base, $uppercase);
    }

    .work .work-collection {

        li {
            align-items: center;
        }
        
        .img-container {
            width: 60%;
        }

        .links-container {
            padding: 0;
            width: 37%;
        }
    }

    .work h2, .projects h2 {
        margin-bottom: $sm;
    }

    .intro {
        h1 {
            font-size: $sm*3.75;
            margin-top: $xs;
        }

        .career-role {
            @include fontstyles ($color-primary, $sm*1.35, $normal, $italic, $none); 
        }
    }

    .proud-moments {
        h2 {
            line-height: $sm*1.6;
        }

        .about-highlight {
            font-size: $sm*1.25;
            line-height: $sm*1.7;
        }

        .highlight-date {
            margin-bottom: $sm*0.4;
        }
    }

    .storytelling-col {
        padding-left: $sm*5;
    }

    .cs-body li {
        font-size: $sm*1.125;
    }

    .cs-flex-img-box {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    // .cs-flex-img {
    //     width: 50%;
    // }
}