body {
  margin: 0 auto;
  font-size: 16px !important;
  font-family: "Poppins", sans-serif;
  background-color: rgb(21, 21, 21);
}

.wrapper {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
}

main {
  margin-top: 6em;
}

a {
  text-decoration: none;
}

.section {
  padding: 2em 1.5em;
}

.img-container {
  width: 100%;
  height: 100%;
  max-height: 30em;
  overflow: hidden;
}
.img-container .img-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.35s ease-in-out;
}

::-moz-selection {
  color: rgb(60, 35, 255);
  background: rgb(196, 206, 255);
}

::selection {
  color: rgb(60, 35, 255);
  background: rgb(196, 206, 255);
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.box-shadow-light {
  box-shadow: 0px 3px 7px -1px rgba(43, 4, 98, 0.3);
}

h1 {
  color: rgb(196, 206, 255);
  font-size: 2.5em;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  margin-top: 1em;
}

h2 {
  color: rgb(196, 206, 255);
  font-size: 1.75em;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 0.3em;
  text-align: center;
}

h3 {
  color: rgb(196, 206, 255);
  font-size: 1.4em;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  margin-bottom: 0.25em;
  line-height: 1.15em;
}

p {
  color: rgb(196, 206, 255);
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.4em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  will-change: top;
  transition: top 0.35s ease;
  padding: 0.9em 1.8em;
  background: rgb(21, 21, 21);
  color: rgb(196, 206, 255);
  z-index: 2;
}
header.header-up {
  top: -6.25em;
  box-shadow: none;
}
header .header-bar {
  align-items: center;
}
header .header-bar .logo svg {
  fill: rgb(196, 206, 255);
  width: 4em;
  height: 4em;
  margin: 0 auto;
  align-items: center;
}
header .header-bar .gn-trigger {
  position: relative;
  width: 3em;
  height: 3em;
  border: none;
  outline: 0;
  background: transparent;
  margin-left: auto;
  cursor: pointer;
}
header .header-bar .gn-trigger .burger-menu {
  position: absolute;
  width: 2.5em;
  height: 0.025em;
  border: 0.132em rgb(196, 206, 255) solid;
  border-radius: 25px;
  top: 35%;
  right: 0;
}
header .header-bar .gn-trigger .burger-menu:after {
  display: block;
  content: "";
  position: absolute;
  width: 2.5em;
  height: 0.025em;
  border: 0.132em rgb(196, 206, 255) solid;
  border-radius: 25px;
  top: 0.6em;
  right: 0.5em;
  box-shadow: 0px 3px 7px -1px box-shadow;
}
header .header-bar .gn-trigger .burger-menu,
header .header-bar .gn-trigger .burger-menu:after {
  transition: transform top background;
  transition-duration: 0.5s;
}
header .header-bar .gn-trigger.is-active .burger-menu {
  background-color: rgb(21, 21, 21);
  transform: rotate(405deg);
  top: 1.5em;
  right: 0;
}
header .header-bar .gn-trigger.is-active .burger-menu:after {
  background-color: rgb(21, 21, 21);
  transform: rotate(-450deg);
  top: -0.1em;
  right: -0.1em;
}
header .header-bar .gn {
  display: none;
  position: absolute;
  top: 4.5em;
  left: 0;
  width: 100%;
  background-color: rgb(21, 21, 21);
}
header .header-bar .gn ul {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgb(21, 21, 21);
}
header .header-bar .gn ul li {
  padding: 2em;
}
header .header-bar .gn ul li a {
  color: rgb(196, 206, 255);
  font-size: 1.4em;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.contact {
  text-align: center;
}
.contact .contact-header {
  text-align: center;
  text-transform: none;
}
.contact .contact-details p {
  margin-bottom: 1em;
  line-height: 1.75;
}
.contact .contact-details .social-icons {
  justify-content: center;
}
.contact .contact-details .social-icons li {
  transition: all 0.35s ease-in-out;
}
.contact .contact-details .social-icons li svg {
  width: 2.5em;
  height: 2.5em;
  fill: rgb(196, 206, 255);
  margin: 0.25em 0.75em;
}

footer {
  margin-top: 2em;
  padding: 1.5em 0;
  background-color: rgb(196, 206, 255);
}
footer p {
  color: rgb(60, 35, 255);
  font-size: 0.8em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-align: center;
  line-height: 1.75em;
}

.intro {
  text-align: center;
  height: 70vh;
  padding-top: 5em;
}
.intro .intro-box .career-role {
  color: rgb(196, 206, 255);
  font-size: 0.9em;
  font-weight: 500;
  font-style: italic;
  text-transform: none;
  margin-top: 0.25em;
}
.intro .intro-box .career-goal {
  color: rgb(196, 206, 255);
  font-size: 1.25em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  justify-content: center;
  line-height: 1.25em;
  margin: 1.5em 0;
}

.blobwindow {
  width: 13.125em;
  height: 13.125em;
  background-image: url(../../images/starsinspace_byjessica.png);
  border: rgb(60, 35, 255) solid 2px;
  border-radius: 57% 43% 70% 30%/48% 33% 67% 52%;
  overflow: hidden;
  background-position: cover;
  position: relative;
  margin: 1.5em auto 0;
  animation: spaceAlien 20s ease-in-out infinite;
  box-shadow: 0px 3px 7px -1px rgba(43, 4, 98, 0.3);
}

.alien {
  width: 1.875em;
  height: 1.875em;
  background-image: url(../../images/ienthealien_byjessica.png);
  position: absolute;
}

@keyframes spaceAlien {
  0% {
    border-radius: 57% 43% 70% 30%/48% 33% 67% 52%;
    background-position: 50% 0%;
  }
  25% {
    border-radius: 54% 46% 59% 41%/70% 26% 74% 30%;
  }
  50% {
    border-radius: 35% 65% 57% 43%/28% 60% 40% 72%;
    background-position: 0% 0%;
  }
  75% {
    border-radius: 29% 71% 21% 79%/74% 51% 49% 26%;
  }
  100% {
    border-radius: 57% 43% 70% 30%/48% 33% 67% 52%;
    background-position: 50% 0%;
  }
}
.projects .projects-collection {
  flex-direction: column;
  margin-top: 1.25em;
}
.projects .projects-collection .project-card {
  margin-bottom: 3em;
}
.projects .projects-collection .project-card .project-thumb {
  position: relative;
  overflow: hidden;
}
.projects .projects-collection .project-card .project-thumb .links-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(6, 0, 15, 0.75);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0.5em;
}
.projects .projects-collection .project-card .project-thumb .links-container .project-details {
  padding: 1.25em 1em 0;
  margin-bottom: 0.75em;
  text-align: center;
}
.projects .projects-collection .project-card .project-thumb .links-container .project-details p {
  color: rgb(196, 206, 255);
  font-size: 0.8em;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
}
.projects .projects-collection .project-card .project-thumb .links-container .proj-in-progress {
  color: rgb(196, 206, 255);
  font-size: 0.8em;
  font-weight: 500;
  font-style: italic;
  text-transform: none;
}
.projects .projects-collection .project-card .project-thumb .links-container .btn-container {
  column-gap: 1em;
}
.projects .projects-collection .project-card .project-thumb .links-container .btn-container .live-link, .projects .projects-collection .project-card .project-thumb .links-container .btn-container .code-link {
  padding: 0.6em 0.7em;
  border-radius: 1.5em;
  text-align: center;
}
.projects .projects-collection .project-card .project-thumb .links-container .btn-container .live-link {
  background-color: rgb(196, 206, 255);
  border: 0.15em solid rgb(196, 206, 255);
  color: rgb(60, 35, 255);
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.projects .projects-collection .project-card .project-thumb .links-container .btn-container .code-link {
  background-color: transparent;
  border: 0.15em solid rgb(196, 206, 255);
  color: rgb(196, 206, 255);
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}

.about {
  text-align: center;
}
.about .bio {
  text-align: left;
  flex-direction: column;
}
.about .bio img {
  height: 70vw;
  border-radius: 50%;
  margin: 1.75em auto;
}
.about .bio p {
  margin: 1em 0;
  line-height: 1.75em;
}

.project-overview {
  flex-direction: column;
  padding: 3em 1.8em;
  height: 80vh;
}
.project-overview .project-details .project-skills {
  color: rgb(196, 206, 255);
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.project-overview .project-details .project-title {
  color: rgb(196, 206, 255);
  font-size: 2.5em;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  margin: 0.25em 0 0.15em;
  line-height: 1.25;
}
.project-overview .project-details .project-type {
  color: rgb(196, 206, 255);
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
}
.project-overview .project-details .in-progress {
  color: rgb(196, 206, 255);
  font-size: 1em;
  font-weight: 500;
  font-style: italic;
  text-transform: none;
  text-align: center;
  margin: 3em 0 2em;
}
.project-overview .project-details .project-description {
  color: rgb(196, 206, 255);
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin: 1.1em 0 2em;
}
.project-overview .project-details .links-btn-container {
  justify-content: space-between;
  margin: 0.5em 0 2em;
}
.project-overview .project-details .links-btn-container .live-link, .project-overview .project-details .links-btn-container .code-link {
  width: 48%;
  height: auto;
  padding: 0.65em 1em;
  border-radius: 1.5em;
  text-align: center;
}
.project-overview .project-details .links-btn-container .live-link {
  background-color: rgb(196, 206, 255);
  border: 0.15em solid rgb(196, 206, 255);
  color: rgb(60, 35, 255);
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.project-overview .project-details .links-btn-container .code-link {
  background-color: transparent;
  border: 0.15em solid rgb(196, 206, 255);
  color: rgb(196, 206, 255);
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}
.project-overview .proj-img-container {
  width: 100%;
  max-height: 25em;
  overflow: hidden;
}
.project-overview .proj-img-container .project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-projects {
  margin: 0.5em 0 2.5em;
  padding: 2.5em 1.5em 2em;
  text-align: center;
  background-color: rgb(196, 206, 255);
}
.more-projects h2 {
  color: rgb(60, 35, 255);
  font-size: 1.25em;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
.more-projects a {
  color: rgb(60, 35, 255);
  font-size: 1.03em;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin: 0.9em 0;
}

@media (min-width: 320px) {
  .projects .projects-collection .project-card .project-thumb .links-container .project-details h3 {
    color: rgb(196, 206, 255);
    font-size: 1.85em;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
  }
  .projects .projects-collection .project-card .project-thumb .links-container .project-details p {
    color: rgb(196, 206, 255);
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
  }
}
@media (min-width: 480px) {
  .intro .intro-box h1 {
    font-size: 3em;
    margin-top: 0.5em;
  }
  .intro .intro-box .career-role {
    color: rgb(196, 206, 255);
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
  }
  .intro .intro-box .career-goal {
    margin: 1.25em 0;
  }
  .intro .blobwindow {
    width: 18.125em;
    height: 18.125em;
  }
  .projects .projects-collection .project-card .project-thumb .links-container {
    row-gap: 0.7em;
  }
  .projects .projects-collection .project-card .project-thumb .links-container .proj-in-progress {
    color: rgb(196, 206, 255);
    font-size: 0.9em;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
  }
  .about .bio img {
    height: 50vw;
  }
  footer p {
    color: rgb(60, 35, 255);
    font-size: 0.9em;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
  }
}
@media (min-width: 640px) {
  .intro .blobwindow {
    width: 19.125em;
    height: 19.125em;
  }
  .projects, .about, .contact p {
    color: rgb(196, 206, 255);
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
  }
}
@media (min-width: 768px) {
  .section {
    padding: 3em;
  }
  header {
    padding: 0.9em 3em;
  }
  header .header-bar .gn-trigger {
    display: none;
  }
  header .header-bar .gn {
    display: block;
    position: static;
    top: 0px;
    height: auto;
    box-shadow: 0;
  }
  header .header-bar .gn ul {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5em;
  }
  header .header-bar .gn ul li {
    padding: 0;
  }
  header .header-bar .gn ul li a {
    color: rgb(196, 206, 255);
    font-size: 1.1em;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
  }
  .intro {
    padding-top: 7em;
  }
  .projects .projects-collection {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .projects .projects-collection .project-card {
    flex-basis: 47%;
    max-width: 47%;
    flex-direction: column;
  }
  .projects .projects-collection .project-card:nth-child(3n+1) {
    flex-basis: 100%;
    max-width: 100%;
  }
  .projects .projects-collection .project-card:nth-child(3n+2) {
    margin-top: 8em;
  }
  .projects .projects-collection .project-card .project-thumb .links-container .project-details h3 {
    color: rgb(196, 206, 255);
    font-size: 2em;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
  }
  .about .bio {
    flex-direction: row;
    column-gap: 3.5em;
    margin-top: 2.25em;
  }
  .about .bio img {
    height: 17em;
    margin: 0 0 0 auto;
  }
  .about .bio .bio-desc {
    width: 50%;
    margin-right: auto;
  }
  footer p {
    color: rgb(60, 35, 255);
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
  }
  .artifact-pg .project-overview .project-details .project-skills, .artifact-pg .project-overview .project-details .project-description {
    color: rgb(196, 206, 255);
    font-size: 0.9em;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
  }
  .artifact-pg .project-overview .project-details .project-title {
    color: rgb(196, 206, 255);
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    line-height: 1.25;
  }
  .artifact-pg .project-overview .project-details .project-type {
    color: rgb(196, 206, 255);
    font-size: 0.9em;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
  }
  .artifact-pg .project-overview .project-details .project-description {
    line-height: 1.7;
    margin: 1.1em 0 1.5em;
  }
  .artifact-pg .project-overview .project-details .links-btn-container {
    justify-content: flex-start;
  }
  .artifact-pg .project-overview .project-details .links-btn-container .code-link, .artifact-pg .project-overview .project-details .links-btn-container .live-link {
    margin-right: 1em;
    padding: 0.6em 1em;
    font-size: 0.85em;
  }
}
.artifact-pg .project-overview {
  flex-direction: row;
  justify-content: space-between;
  height: 60vh;
  align-items: center;
  padding: 3em 0;
}
.artifact-pg .project-overview .project-details {
  padding: 2em 0 2em 1em;
  margin-right: 2em;
  width: 50%;
}
.artifact-pg .project-overview .project-details .feat-img-container {
  align-self: center;
}
.artifact-pg .project-overview .project-details .project-title {
  margin: 0.2em 0;
}
.artifact-pg .project-overview .project-details .project-description {
  margin: 1.1em 0 1.5em;
}
.artifact-pg .project-overview .project-details .links-btn-container {
  margin: 0.5em 0 0;
}
.artifact-pg .project-overview .project-details .in-progress {
  text-align: left;
}
.artifact-pg .project-overview .img-container {
  margin-right: 1em;
}

@media (min-width: 1024px) {
  p {
    color: rgb(196, 206, 255);
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
  }
  header .header-bar .gn ul li a:hover {
    border-bottom: 0.2em solid rgb(196, 206, 255);
  }
  .projects .projects-collection .project-card .project-thumb .links-container .btn-container .live-link:hover {
    color: rgb(196, 206, 255);
    background-color: rgb(60, 35, 255);
    border: 0.15em solid rgb(60, 35, 255);
    transition: 0.5s ease-in-out;
  }
  .projects .projects-collection .project-card .project-thumb .links-container .btn-container .code-link:hover {
    color: rgb(60, 35, 255);
    background-color: rgb(196, 206, 255);
    transition: 0.5s ease-in-out;
  }
  .contact .contact-details .social-icons li:hover {
    transform: scale(1.2);
  }
  .artifact-pg .project-details .links-btn-container .live-link:hover {
    color: rgb(196, 206, 255);
    background-color: rgb(60, 35, 255);
    border: 0.15em solid rgb(60, 35, 255);
    transition: 0.5s ease-in-out;
  }
  .artifact-pg .project-details .links-btn-container .code-link:hover {
    color: rgb(60, 35, 255);
    background-color: rgb(196, 206, 255);
    transition: 0.5s ease-in-out;
  }
}

/*# sourceMappingURL=main.css.map */
