@use '../utilities' as *;

.carousel-container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: $sm;
    padding-bottom: $sm;
    margin-bottom: $sm*4;
}

.carousel-box {
    min-width: 75vw;
    max-width: 75vw;
}