@use '../utilities' as *;

.about {
    text-align: center;

    .bio {
        text-align: left;
        flex-direction: column;
    }

    img {
        border-radius: $b-rounded-12l;
        width: 50vw;
        height: auto;
        margin: $sm auto;
    }
    
    p {
        margin: $sm 0;
        line-height: $sm*1.75;

        &:first-child {
            margin-top: 0;
        }
    }
}

.proud-moments {
    h2 {
        text-align: center;
        font-weight: 400;
        text-transform: none;
        line-height: $sm*2.5;
        margin-bottom: $sm;
    }

    ul, .mission-values-box, .values {
        display: flex;
        flex-direction: column;
    }

    ul {
        gap: $sm*1.25;
        margin: 0 auto;
        max-width: $sm*34.375;
    }

    li {
        margin-top: $sm*0.65;
    }

    .about-highlight {
        @include fontstyles ($dark-tertiary, $sm*1.125, $semibold, $base, $none);
        line-height: $sm*1.5;
        margin-bottom: $sm*0.2;
    }

    .highlight-date {
        @include fontstyles ($dark-primary, $sm, $medium, $base, $none);
        margin-bottom: $sm*0.3;
    }

    .mission-values-box {
        gap: $sm*0.5;
        margin: 0 auto;
        max-width: $sm*34.375; 
    }

    .values {
        gap: $sm*0.5;
    }
}