@use '../utilities' as *;

.cs-body {

    p {
        margin-bottom: $sm*1.25;
    }

    li {
        margin: $sm*0.5 0 0 $sm*2.5;
        line-height: $sm*1.65;
        font-size: $sm;
    }

    li::before {
        content: "\2022";
        color: $color-primary;
        font-weight: bold;
        display: inline-block; 
        width: $sm;
        margin-left: $sm*-1;
    }

    h3 {
        border-bottom: $sm*0.5 solid $color-secondary;
        width: fit-content;
        margin-bottom: $sm;
    }

    a {
        color: $color-primary;
        border-bottom: $color-secondary $sm*0.15 solid;
    }
}

.cs-subsection {
    margin: $sm*2 auto $sm*3.5;
}

.cs-summary {
    max-width: $sm*81.25;
    align-items: center;

    h1 {
        margin-bottom: $sm;
    }

    p {
        margin-bottom: $sm*0.15;
    }
}

.cs-intro {
    margin-top: $sm*3;
}

.cs-img-container {
    max-width: $sm*29.6875;
}

.cs-body-img-container {
    max-height: fit-content;
}

.cs-img-caption {
    @include fontstyles ($color-primary, $sm, $medium, $italic, $none);
    margin-top: $sm*0.5;
}

.cs-flex-img-box {
    display: flex;
    flex-direction: column;
    gap: $sm;
}

.cs-flex-img {
    width: 100%;
    height: 100%;
}

.cs-btns {
    flex-direction: row;
    margin-top: $sm;
}

.cs-half-width {
    width: 90vw;
}

.cs-flex-tablet {
    flex-direction: column;
    gap: $sm;
    justify-content: space-between;
}

.cs-goal-stmt {
    flex-direction: column;
    gap: $sm*0.5;
    margin-left: $lg;

    p {
        margin-bottom: 0;
    }
}

.cs-ty-note {
    margin-top: $sm*2;
}

.peer-feedback-box {
    flex-direction: column;
    gap: $sm*0.5;
    max-width: 550px;
    margin: 0 auto $sm*2;

    p {
        margin-bottom: 0;
    }
}
