@use '../utilities' as *;

@media (min-width:768px) {

    .section {
        padding: $sm*3;
    }

    .gn {
        display: block;
        position: static;
        top: 0px;
        height: auto;
        box-shadow: 0;
    
        ul {
            flex-direction: row;
            justify-content: flex-end;
            gap: $sm*1.5;
        }

        li {
            padding: 0;
        }

        a {
            @include fontstyles($color-primary, $sm*1.1, $normal, $base, $uppercase);
        }
    }

    .gn-trigger {
        display: none;
    }

    .intro {
        padding-top: $sm*4;
    }

    .projects .projects-collection {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .project-card {
            flex-basis: 47%;
            max-width: 47%;
            flex-direction: column;

            &:nth-child(3n+1){
                flex-basis: 100%;
                max-width: 100%;
            }
    
            &:nth-child(3n+2){
                margin-top: $sm*8;
            }
        }

        .project-details h3 {
            @include fontstyles ($color-primary, $sm*2, $medium, $base, $none);
        }
    }

    .about {
        .bio {
            flex-direction: row;
            column-gap: $sm*3.5;
            margin-top: $sm*2.25;
        }

        img {
            height: $sm*17;
            margin: 0 0 0 auto;
        }

        .bio-desc {
            width: 50%;
            margin-right: auto;
        }
    }
    
    .footer p {
        @include fontstyles ($color-secondary, $sm, $normal, $base, $none);
    }

    .artifact-pg .project-overview {
            
        .project-skills, .project-description {
            @include fontstyles ($color-primary, $sm*0.9, $normal, $base, $none);
        }

        .project-title {
            @include fontstyles ($color-primary, $sm*2, $semibold, $base, $none);
            line-height: 1.25;
        }

        .project-type {
            @include fontstyles ($color-primary, $sm*0.9, $normal, $italic, $none);
        }

        .project-description {
            line-height: 1.7;
            margin: $sm*1.1 0 $sm*1.5;
        }

        .links-btn-container {
            justify-content: flex-start;

            .code-link, .live-link {
                margin-right: $sm;
                padding: $sm*0.6 $sm*1;
                font-size: $sm*0.85;
            }
        }
    }
}