@use '../../utilities' as *;

.about {
    text-align: center;

    .bio {
        text-align: left;
        flex-direction: column;

        img {
            height: 70vw;
            border-radius: 50%;
            margin: $sm*1.75 auto;
        }

        p {
            margin: $sm 0;
            line-height: $sm*1.75;
        }
    }
}