@use '../../utilities' as *;

.blobwindow {
    width: $sm*18.125;
    height: $sm*18.125;
    background-image: url(../../images/starsinspace_byjessica.jpg);
    border: $dark-secondary solid $sm*0.125;
    border-radius: 57% 43% 70% 30% / 48% 33% 67% 52%;
    overflow: hidden;
    background-position: cover;
    position: relative;
    margin: $md auto 0;
    animation: spaceAlien 20s ease-in-out infinite;
    box-shadow: 0 $sm*0.1875 $sm*0.4375 $sm*-0.0625 rgba(43,4,98,0.3);
}

.alien {
    width: $sm*1.875;
    height: $sm*1.875;
    background-image: url(../../images/ienthealien_byjessica.png);
    position: absolute;
  }

@keyframes spaceAlien {
    0% {
        border-radius: 57% 43% 70% 30% / 48% 33% 67% 52%;
        background-position: 50% 0%;
    }
    25% {
        border-radius: 54% 46% 59% 41% / 70% 26% 74% 30%;
    }
    50% {
        border-radius: 35% 65% 57% 43% / 28% 60% 40% 72%;
        background-position: 0% 0%;
    }
    75% {
        border-radius: 29% 71% 21% 79% / 74% 51% 49% 26%;
    }
    100% {
        border-radius: 57% 43% 70% 30% / 48% 33% 67% 52%;
        background-position: 50% 0%;
    }
}