@use '../../utilities' as *;

.intro {
    text-align: center;
    height: 70vh;
    padding-top: $sm*4;

    h1 {
        margin-bottom: 0;
    }

    .career-role {
        @include fontstyles ($color-primary, $sm, $normal, $italic, $none);
        margin-top: $sm*0.75;
    }

    .career-goal {
        @include fontstyles($color-primary, $sm*1.25, $normal, $base, $none);
        justify-content: center;
        line-height: $sm*1.65;
        margin: $sm*1.5 0;
    }
}