@use '../../utilities' as *;

.intro {
    text-align: center;
    height: 65vh;
    padding-top: $sm*2;

    h1 {
        margin-bottom: 0;
    }

    .career-role {
        @include fontstyles ($color-primary, $sm, $normal, $italic, $none);
        margin-top: $sm*0.75;
        margin: $sm auto;
    }

    .career-goal {
        @include fontstyles($color-primary, $sm*1.25, $normal, $base, $none);
        justify-content: center;
        line-height: $sm*1.85;
        margin: $sm*2 auto $sm;
    }

    .career-role, .career-goal {
        max-width: $sm*27;
    }
}