@use '../../utilities' as *;

.intro {
    text-align: center;
    height: 65vh;
    padding-top: $sm*2;

    h1 {
        margin-bottom: 0;
    }

    .career-role {
        @include fontstyles ($color-primary, $sm, $normal, $italic, $none);
        margin-top: $sm*0.75;
        margin: $sm auto;
        max-width: $sm*27;
    }
}