@use '../../utilities' as *;

.projects {

    .links-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: $sm*0.75 0;
    }

    .project-details {
        padding: $sm*0.5 0 $sm;
        text-align: center;
    }

    .btn-container {
        justify-content: space-between;
        gap: $sm*0.65;
        flex-direction: column;
    
        .live-link, .code-link {
            padding: $sm*0.6 $sm*0.7;
            border-radius: $sm*1.5;
            text-align: center;
            width: 100%;
        }
    
        .live-link {
            background-color: $color-primary;
            border: $sm*0.15 solid $color-primary;
            @include fontstyles($color-secondary, $sm*0.9, $normal, $base, $none);
        }
    
        .code-link {
            background-color: transparent;
            border: $sm*0.15 solid $color-primary;
            @include fontstyles($color-primary, $sm*0.9, $normal, $base, $none);
        }
    }

    .more-projects {
        width: $sm*16;
        justify-content: center;
        padding-bottom: $sm*0.15;
        border-bottom: $color-secondary solid $sm*0.2;
        margin: auto;
        @include fontstyles ($color-primary, $sm, $normal, $base, $none);
    }
}