.contact {
    text-align: center;

    .contact-header {
        text-align: center;
        text-transform: none;
    }

    .contact-details {
        p {
            margin-bottom: $sm;
            line-height: 1.5;
        }

        .social-icons {
            justify-content: center;

            li svg {
                width: $sm*2.5;
                height: $sm*2.5;
                fill: $violet;
                margin: $sm*0.25 $sm*0.75;
            }
        }
    }
}