@use '../../utilities' as *;

.backtotop {
    width: 125px;
    height: auto;
    color: $color-primary;
    border-bottom: $color-secondary $sm*0.15 solid;
    @include fontstyles ($color-primary, $sm*1.2, $normal, $base, $none);
    line-height: $sm*1.65;
    padding: $sm*0.15 0;
    margin: 0 auto $sm*1.5;
    justify-content: center;
}