@use '../../utilities' as *;

.toggle {
    z-index: 1;

    .checkbox {
        opacity: 0;
        position: absolute;
    
        &:checked + .label .ball {
            transform: translateX($sm*1.8);
        }
    }

    .label {
        width: $sm*3.5;
        height: $sm*1.75;
        background-color: $light-primary;
        border-radius: $b-rounded-3l;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $sm*0.31;
        transform: scale(1.5);
        box-shadow: $box-shadow;
    }

    .fas {
        font-size: $sm;
    }
    
    .fa-moon {
        color: $dark-primary;
    }
    
    .fa-sun {
        color: $dark-primary;
    }

    .ball {
        width: $sm*1.3;
        height: $sm*1.3;
        background-color: $dark-primary;
        position: absolute;
        top: $sm*0.25;
        left: $sm*0.18;
        border-radius: $b-rounded-12l;
        transition: transform 0.2s linear;
        cursor: pointer;
        
        &:hover {
            box-shadow: inset 0 0 5px $dark-secondary;
            transition: transform 0.35s ease-in-out;
        }
    }
}
