@use '../../utilities' as *;

footer {
    padding: $md 0;
    background-color: $dark-primary;
    
    p {
        @include fontstyles($dark-secondary, $sm, $normal, $base, $none);
        text-align: center;
        line-height: $sm*1.5;
    }
}