@use '../../utilities' as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    align-items: center;
    will-change: top;
    transition: top 0.35s ease;
    padding: $sm*0.9 $sm*2;
    background: $color-black;
    color: $dark-primary;
    z-index: 2;

    .header-bar {
        align-items: center;
    }

    .logo {
        margin-right: $sm*2;
    }

    svg {
        fill: $dark-primary;
        width: $sm*4;
        height: $sm*4;
        margin: 0 auto;
        align-items: center;
    }
}

.gn-trigger {
    position: relative;
    width: $md*2;
    height: $md*2;
    border: none;
    outline: 0;
    background: transparent;
    margin-left: auto;
    cursor: pointer;

    .burger-menu {
        position: absolute;
        width: $xl;
        height: $sm*0.025;
        border: $sm*0.15 $dark-primary solid;
        border-radius: $b-rounded-3xl;
        top: 35%;
        right: 0;

        &:after {
            display: block;
            content: '';
            position: absolute;
            width: $xl;
            height: $sm*0.025;
            border: $sm*0.15 $dark-primary solid;
            border-radius: $b-rounded-3xl;
            top: $sm*0.6;
            right: $xs;
            box-shadow: $box-shadow;
        }
    }

    .burger-menu,
    .burger-menu:after {
        transition: transform top background;
        transition-duration: 0.5s;
    }

    &.is-active {
        .burger-menu {
            background-color: $color-black;
            transform: rotate(405deg);
            top: $md;
            right: 0;

            &:after {
                background-color: $color-black;
                transform: rotate(-450deg);
                top: -$sm*0.1;
                right: -$sm*0.1;
            }
        }
    }
}

.gn {
    display: none;
    position: absolute;
    top: $sm*4.5;
    left: $sm*-2;
    width: 100vw;
    background-color: $color-black;

    ul {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: $color-black;
    }

    li {
        padding: $lg;
        text-align: center;
    }

    a {
        @include fontstyles($dark-primary, $sm*1.5, $medium, $base, $none);
    }

    .resume {
        background-color: $dark-primary;
        border-radius: $sm*0.5;
        padding: $sm $sm*1.5;
        box-shadow: $box-shadow;
        margin: $sm;
        
        a {
            color: $light-primary;
            font-weight: $medium;
        }
    }

    svg {
        width: $sm*2.5;
        height: $sm*2.5;
        fill: $dark-primary;
        margin: $sm*0.25 $sm*0.75;
    }

    .header-icons {
        padding: $sm;
    }
}