// ----- COLORS -----
// Dark Mode
$dark-primary: rgba(196, 206, 255, 1);
$dark-secondary: rgba(60, 35, 255, 1);
$dark-tertiary: rgba(97, 124, 255, 1);
// $dark-highlight: rgba(235, 239, 255, 1);

// Light Mode
$light-primary: rgba(53, 68, 140, 1);
$light-secondary: rgba(60, 35, 255, 1);
$light-tertiary: rgba(41, 52, 107, 1);
$light-highlight: rgba(208, 218, 255, 1);

// Neutrals
$color-white: rgb(246, 248, 255);
$color-black: rgba(21, 21, 21, 1);

// ----- SHADOWS ----
$box-shadow: 2px 2px 8px 2px rgba(41, 52, 107, 0.15);

// ----- BORDER RADIUS ----
$b-rounded-sm: 0.25rem;
$b-rounded: 0.5rem;
$b-rounded-md: 0.75rem;
$b-rounded-lg: 1rem;
$b-rounded-2xl: 1.25rem;
$b-rounded-3xl: 1.5rem;
$b-rounded-3l: 3rem;
$b-rounded-12l: 12rem;

// ----- SIZES -----
$xs: 0.5rem;
$sm: 1rem;
$md: 1.5rem;
$lg: 2rem;
$xl: 2.5rem;

// ----- FONT STYLES -----
$italic: italic;
$base: normal;

// ----- FONT WEIGHTS -----
$xlight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// ----- TEXT TRANSFORM -----
$uppercase: uppercase;
$capitalize: capitalize;
$none: none;
$lowercase: lowercase;