.artifact-pg {

    p {
        @include fontstyles ($violet, $sm*0.9, $normal, $base, $none);
        margin-bottom: $xs;
        line-height: 1.75;
    }

    .img-container {
        width: 100%;
        max-height: $sm*25;
        overflow: hidden;

        .project-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    /* -----------------------------
    ------- Project Summary --------
    ------------------------------ */
    .project-overview {
        flex-direction: column;
        padding: $sm*3 $sm*1;
        height: 80vh;

        .project-details {
            .project-skills {
                @include fontstyles ($violet, $sm*0.9, $normal, $base, $none);
            }

            .project-title {
                @include fontstyles ($violet, $sm*2.5, $medium, $base, $none);
                margin: $sm*0.25 0 $sm*0.15;
                line-height: 1.25;
            }
    
            .project-type {
                @include fontstyles ($violet, $sm*0.9, $normal, $italic, $none);
            }

            .in-progress {
                @include fontstyles ($violet, $sm, $medium, $italic, $none);
                text-align: center;
                margin: $sm*3 0 $sm*2;
            }

            .project-description {
                @include fontstyles ($violet, $sm*0.9, $normal, $base, $none);
                margin: $sm*1.1 0 $sm*2;
            }
    
            .links-btn-container {
                justify-content: space-between;
                margin: $sm*0.5 0 $sm*2;
    
                .code-link, .live-link {
                    width: 48%;
                    height: auto;
                    padding: $sm*0.65 $sm*1;
                    border: $sm*0.1 solid $violet;
                    border-radius: $sm*1.5;
                    text-align: center;
                    font-size: $sm*0.8;
                    font-weight: 400;
                }

                .code-link {
                    color: $violet;
                    
                    &:hover {
                        background-color: $violet;
                        color: $white;
                        transition: all 0.35s ease-in-out;
                    }
                }
        
                .live-link {
                    background-color: $violet;
                    color: $white;

                    &:hover {
                        background-color: $white;
                        color: $violet;
                        transition: all 0.35s ease-in-out;
                    }
                }
            }
        }
    }

    /* -----------------------------
    ------- More Projects ----------
    ------------------------------ */
    .more-projects {
        margin: $sm*2 0;
        padding: $xl $md $lg;
        text-align: center;
        background-color: $violet;

        h2 {
            @include fontstyles ($white, $sm*1.25, $semibold, $base, $uppercase);
            text-align: center;
        }

        a {
            @include fontstyles ($white, $sm*1.03, $normal, $base, $none);
            margin: $sm*0.9 0;
        }
    }
    
    /* -----------------------------
    ------- Media Queries ----------
    ------------------------------ */
    @media (min-width: 768px) {
        .hidden-tablet {
            display: none;
        }

        .project-overview .project-details {
            
            .project-skills, .project-description {
                @include fontstyles ($violet, $sm*0.9, $normal, $base, $none);
            }

            .project-title {
                @include fontstyles ($violet, $sm*2, $semibold, $base, $none);
                line-height: 1.25;
            }

            .project-type {
                @include fontstyles ($violet, $sm*0.9, $normal, $italic, $none);
            }

            .project-description {
                line-height: 1.7;
                margin: $sm*1.1 0 $sm*1.5;
            }

            .links-btn-container {
                justify-content: flex-start;

                .code-link, .live-link {
                    margin-right: $sm;
                    padding: $sm*0.6 $sm*1;
                    font-size: $sm*0.85;
                }
            }
        }
    }

    @media (min-width: 900px) {

        h2 {
            font-size: $sm*1.5;
            margin-bottom: $sm*0.5;
        }

        p {
            @include fontstyles ($violet, $sm, $normal, $base, $none);
        }

        .project-overview {
            flex-direction: row;
            justify-content: space-between;
            height: 60vh;
            align-items: center;
            padding: $sm*3 0;

            .project-details {
                padding: $lg 0 $lg $sm;
                margin-right: $sm*2;
                width: 50%;

                .feat-img-container {
                    align-self: center;
                }

                .project-title {
                    margin: $sm*0.2 0;
                }

                .project-description {
                    margin: $sm*1.1 0 $sm*1.5;
                }

                .links-btn-container {
                    margin: $sm*0.5 0 0;
                }

                .in-progress {
                    text-align: left;
                }
            }

            .img-container {
                margin-right: $sm;
            }
        }
    }
}