// Colors
$color-primary: rgba(196, 206, 255, 1);
$color-secondary: rgba(60, 35, 255, 1);
// $color-primary: rgb(255, 255, 255);
// $color-secondary: rgba(196, 206, 255, 1);
// $color-tertiary: rgba(60, 35, 255, 1);
$color-bg: rgba(21, 21, 21, 1);
$box-shadow-light: rgba(43,4,98,0.3);

// Sizes
$xs: 0.5em;
$sm: 1em;
$md: 1.5em;
$lg: 2em;
$xl: 2.5em;

// Font-Styles
$italic: italic;
$base: normal;

// Font Weights
$xlight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Text Transform
$uppercase: uppercase;
$capitalize: capitalize;
$none: none;
$lowercase: lowercase;

// Mixins
@mixin fontstyles($color, $size, $fontweight, $fontstyle, $texttransform) {
    color: $color;
    font-size: $size;
    font-weight: $fontweight;
    font-style: $fontstyle;
    text-transform: $texttransform;
}