// Colors
$violet: rgba(43, 4, 98, 1);
$white: rgba(255, 255, 255, 1);
$forestgreen: rgba(48, 76, 28, 1);
$darkmodelist: rgba(41, 44, 53, 1);
$cafebrown: rgba(96, 67, 48, 1);

// Sizes
$xs: 0.5em;
$sm: 1em;
$md: 1.5em;
$lg: 2em;
$xl: 2.5em;

// Font-Styles
$italic: italic;
$base: normal;

// Font Weights
$xlight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Text Transform
$uppercase: uppercase;
$capitalize: capitalize;
$none: none;
$lowercase: lowercase;

// Mixins
@mixin fontstyles($color, $size, $fontweight, $fontstyle, $texttransform) {
    color: $color;
    font-size: $size;
    font-weight: $fontweight;
    font-style: $fontstyle;
    text-transform: $texttransform;
}