@import '../scss/variables';
@import '../scss/header';
@import '../scss/ienanim';
@import '../scss/project';
@import '../scss/contact';

/* -----------------------------
--------- Global ---------------
------------------------------ */
body {
    margin: 0 auto;
    font-size: 16px!important;
    font-family: 'Poppins', sans-serif;
    background-color: $color-primary;
    @include fontstyles($color-secondary, $sm*0.75, $normal, $base, $none);
}

.wrapper {
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
}

main {
    margin-top: $sm*6;
}

a {
    text-decoration: none;
}

.section {
    padding: $lg $md;
}

.img-container {
    width: 100%;
    height: 100%;
    max-height: $sm*30;
    overflow: hidden;

    .img-thumb {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.35s ease-in-out;
    }
}

/* -----------------------------
--------- Dark/Light Mode ------
------------------------------ */
.dark-mode {
    @include dark-mode;
}

.light-mode {
    @include light-mode;
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode;
    }
}

/* -----------------------------
--------- Helpers --------------
------------------------------ */
.flex {
    display: flex;
}

.block {
    display: block;
}

.box-shadow {
    box-shadow: 0px 3px 7px -1px rgba(43,4,98,0.6);
}

.box-shadow-light, .box-shadow-gn {
    box-shadow: 0px 3px 7px -1px rgba(43,4,98,0.3);
}

/* -----------------------------
--------- Typography -----------
------------------------------ */
h1 {
    @include fontstyles ($color-secondary, $sm*2.5, $semibold, $base, $none);
    margin-top: $sm;
}

h2 {
    @include fontstyles ($color-secondary, $sm*1.75, $medium, $base, $uppercase);
    margin-bottom: $sm*0.3;
    text-align: center;
}

h3 {
    @include fontstyles ($color-primary, $sm*1.4, $medium, $base, $none);
    margin-bottom: $sm*0.25;
    line-height: $sm*1.15;
}

p {
    @include fontstyles ($color-secondary, $sm*0.9, $normal, $base, $none);
    line-height: $sm*1.4;
}

/* -----------------------------
--------- Intro Section --------
------------------------------ */
.intro {
    text-align: center;
    height: 70vh;
    padding-top: $sm*5;

    .intro-box {    
        .career-role {
            @include fontstyles ($color-secondary, $sm*0.9, $medium, $italic, $none);
            margin-top: $sm*0.25;
        }

        .career-goal {
            @include fontstyles($color-secondary, $sm*1.25, $normal, $base, $none);
            justify-content: center;
            line-height: $sm*1.25;
            margin: $sm*1.5 0;
        }
    }
}

/* -----------------------------
--------- Projects Section -----
------------------------------ */
.projects {
    .projects-collection {
        flex-direction: column;
        margin-top: $sm*1.25;

        .project-card {
            margin-bottom: $sm*3;

            .project-thumb {
                position: relative;
                overflow: hidden;

                .links-container {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(6, 0, 15, 0.64);
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding-bottom: $sm*0.5;
                
                    .btn-container {
                        column-gap: $sm;

                        .live-link, .code-link {
                            padding: $sm*0.6 $sm*0.7;
                            border: $sm*0.15 solid $color-primary;
                            border-radius: $sm*1.5;
                            text-align: center;
                        }

                        .live-link {
                            background-color: $color-primary;
                            @include fontstyles ($color-secondary, $sm*0.8, $medium, $base, $none);
                        }
                    
                        .code-link {
                            background-color: transparent;
                            @include fontstyles ($color-primary, $sm*0.8, $medium, $base, $none);
                        }
                    }
                }
            }
    
            .project-details {
                padding: $sm*1.25 $sm*2.2 0;
                margin-bottom: $sm*0.75;
                text-align: center;
                
                p {
                    @include fontstyles ($color-primary, $sm*0.8, $light, $base, $none);
                }
            }
        }
    }
}

/* -----------------------------
--------- About Section --------
------------------------------ */
.about {
    text-align: center;

    .name-title {
        @include fontstyles ($color-secondary, $sm*1.7, $semibold, $base, $none);
    }

    .career-role {
        @include fontstyles ($color-secondary, $sm*0.9, $medium, $italic, $none);
    }

    .bio {
        text-align: left;
        flex-direction: column;

        img {
            height: 70vw;
            border-radius: 50%;
            margin: $sm*1.75 auto;
        }

        p {
            margin: $sm 0;
            line-height: $sm*1.75;
        }
    }
}

/* -----------------------------
--------- Footer ---------------
------------------------------ */
footer {
    margin-top: $sm*2;
    padding: $md 0;
    background-color: $color-secondary;
    
    p {
        @include fontstyles($color-primary, $sm*0.8, $light, $base, $none);
        text-align: center;
        line-height: $sm*1.75;
    }
}

/* -----------------------------
--------- Media Queries --------
------------------------------ */
@media (min-width:320px) {
    h3 {
        @include fontstyles ($color-primary, $sm*1.85, $medium, $base, $none);
    }
}

@media (min-width:400px) {

    .projects .projects-collection .project-card .project-thumb .links-container {
        row-gap: $sm*0.7;

        .project-details {
            h3 {
                @include fontstyles ($color-primary, $sm*1.5, $medium, $base, $none);
            }
    
            p {
                @include fontstyles ($color-primary, $sm*0.85, $normal, $base, $none);
            }
        }
    }

    .about .bio img {
        height: 50vw;
    }
}

@media (min-width:500px) {

    .intro .intro-box {

        h1 {
            font-size: $sm*3;
            margin-top: $xs;
        }

        .career-role {
            @include fontstyles ($color-secondary, $sm, $medium, $italic, $none); 
        }

        .career-goal {
            margin: $sm*1.25 0;
        }
    }

    .projects .projects-collection .project-card .project-thumb .links-container {

        .project-details {
            h3 {
                @include fontstyles ($color-primary, $sm*1.75, $medium, $base, $none);
            }

            p {
                @include fontstyles ($color-primary, $sm*0.9, $normal, $base, $none);
            }
        }

        .live-link {
            @include fontstyles ($color-primary, $sm*0.85, $normal, $base, $none);
        }

        .code-link {
            @include fontstyles ($color-secondary, $sm*0.85, $normal, $base, $none);
        }
    }

    .about .bio img {
        height: 40vw;
    }

    .contact {
        padding: $sm*1.5;
    }

    footer p {
        @include fontstyles($color-primary, $sm*0.9, $light, $base, $none);
    }
}

@media (min-width:640px) {
    h2 {
        @include fontstyles ($color-secondary, $sm*2, $semibold, $base, $uppercase);
    }

    .projects, .about, .contact {
        p {
            @include fontstyles ($color-secondary, $sm, $normal, $base, $none);
        }
    }
}

@media (min-width:768px) {

    .section {
        padding: $sm*3;
    }

    .box-shadow-gn {
        box-shadow: none;
    }

    header .header-bar {
        .gn-trigger {
            display: none;
        }
    
        .gn {
            display: block;
            position: static;
            top: 0px;
            height: auto;
            box-shadow: 0;
        
            ul {
                flex-direction: row;
                justify-content: flex-end;
                gap: $sm*1.5;
    
                li {
                    padding: 0;
                }
            }
        }
    }

    .intro {
        padding-top: $sm*7;
    }

    .projects .projects-collection {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .project-card {
            flex-basis: 47%;
            max-width: 47%;
            flex-direction: column;

            &:nth-child(3n+1){
                flex-basis: 100%;
                max-width: 100%;
            }
    
            &:nth-child(3n+2){
                margin-top: $sm*8;
            }

            .project-thumb .links-container .project-details h3 {
                @include fontstyles ($color-primary, $sm*2, $medium, $base, $none);
            }
        }
    }

    .about .bio {
        flex-direction: row;
        column-gap: $sm*3.5;
        margin-top: $sm*2.25;

        img {
            height: $sm*17;
            margin: 0 0 0 auto;
        }

        .bio-desc {
            width: 50%;
            margin-right: auto;
        }
    }
    
    footer {
        margin-top: 0;
    }
}

@media (min-width:1024px) {
    p {
        @include fontstyles ($color-secondary, $sm, $normal, $base, $none);
    }

    .projects .projects-collection .project-card .project-thumb .links-container .btn-container {
            .live-link, .code-link {
                @include fontstyles ($color-secondary, $sm, $normal, $base, $none);

                &:hover {
                    background-color: $color-secondary;
                    color: $color-primary;
                    transition: all 0.35s ease-in-out;
                }
            }
            
            .code-link {
                @include fontstyles ($color-primary, $sm, $normal, $base, $none);
            }
    }
    
    .img-container .img-thumb:hover {
        transform: scale(1.05);
    }

    .contact .contact-details .social-icons li:hover {
        transform: scale(1.2);
    }
}