/* ---------------------
----- Global -----------
--------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #f7fcfe;
    color: #2b0462;
}

/* ---------------------
----- Helpers ----------
--------------------- */
.is-faux-winter {
    background-color: #d3f7ff;
}

/* ---------------------
----- Typography -------
--------------------- */
h2 {
    font-weight: 700;
    font-size: 3em;
}

/* ---- -----------------
----- Home Page --------
--------------------- */


/* ---------------------
----- About Page -------
--------------------- */


/* ---------------------
----- Projects Page ----
--------------------- */


/* ---------------------
----- Contact Page -----
--------------------- */

/* ---------------------
----- Footer -----------
--------------------- */

